.activities {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    background: linear-gradient(rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.3)),
        url('../../../src/assets/activities_bg3.jpg');
    background-size: cover;
    background-position: center;
}

form {
    background-color: rgba(245, 245, 245, 0.63);
    padding: 0em 3.75em;
    border-radius: 0.625em;
}

h2 {
    color: rgb(77, 1, 77);
    text-align: center;
}

.formButton {
    width: 100%;
    height: 3em;
    padding: 0.625em;
    background-color: rgb(77, 1, 77);
    color: rgb(233, 233, 233);
    border-radius: 00.625em;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.12em;
    margin-top: 1em;
    margin-bottom: 1.875em;
}